{% extends "base.html" %}
{% block content %}
<h2>Course Catalog</h2>
<ul>
    {% for course in courses %}
        <li>
            <a href="{{ url_for('course_details', code=course['code']) }}">{{ course['name'] }}</a> - {{ course['code'] }}
            <form method="POST" action="{{ url_for('delete_course', code=course['code']) }}" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
<div style="min-height: 50vh; display: flex; flex-direction: column; justify-content: space-between;">
    <div>
      <a href="{{ url_for('add_course') }}" class="btn btn-primary">Add Course</a>
    </div>
  
    <div>
      <a href="{{ url_for('index') }}">Main Menu</a>
    </div>
  </div>
{% endblock %}

